*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: white;
}

.HTMLCSS{
    background-image: linear-gradient(120deg,
     #e34c26, 
     #f06529,
     #ebebeb,
     #264de4,
     #2965f1 
     );
    padding: 10px;
}

.tailwindcss{
    background-image: linear-gradient(45deg,
    #1840b7,
    #00bbff
    );
    padding: 10px;
}

.exp{
    background-color: #f10e0ecf;
    padding: 10px;
}

.inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 12px;    
    border: 1px solid transparent;
}

button:hover{
    border: 1px solid #2664eb;
}