*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(32, 32, 32);
}

h2{
    color: white;
}

.HTMLCSS{
    background-color: brown;
    padding: 10px;
}

.tailwindcss{
    background-color: #2664eb;
    padding: 10px;
}

/* .center{
     display: flex;
    justify-content: center;
    align-content: center;
} */

.inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 12px;    
    border: 1px solid transparent;
}

button:hover{
    border: 1px solid #2664eb;
}