*{
    background-color: #111952;
}

img{
    width: 500px;
    height: 500px;
}

p{
    color: white;
    font-size: 1.5em;
}

button{
    color: white;
    background-color: #e61923;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    margin: 3px;
}