*{
    margin: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    color: white;   
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 15px 12px;
    margin: 0;
}

nav ul li i{
    font-size: 20px;
}

nav ul li img{
    width: 22px;
    height: 22px;
    border-radius: 0%;
    background-size: contain;
    background-repeat: no-repeat;
}


nav ul li img.user{ 
     /* image can not have child so .user is  not spaced with img(img .user)X => its(img.user) */
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

nav ul li a{
    text-decoration: none;
}

main{
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.cent{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.googlelogo{
    margin-top: 10%;
    display: inline-flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 10px;
}


.googleSearch:hover,
.googleSearch:active{
    background-color: #89919a;
    border: none;
    outline: none;
    box-shadow: none;
}

.googleSearch:hover{
    background-color: #89919a;
}

.googleSearch{
    background-color: #4e5257;
    width: 620px;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;    


    border: none;
    outline: none;
    box-shadow: none;
}



.btnA{
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #2f3033;
    border: 1px solid #212121;
    margin: 30px 5px;
    transition: .2s all ease-in-out;
    font-size: 15px;
}

.btnA:hover{
    border: 1px solid rgba(255, 255, 255, 0.206);
}


.translatepage{
    font-size: 12px;
}

.translatepage a{
    color: #99c4ff;
}


/*footer*/
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    
}

.country p{
    width: 100vw;
    padding: 15px 30px;
    font-size: 15px;
    background-color: #171717;
    border-bottom: 1px solid #454746;
}

.footerlinks{
    font-size: 15px;
    width: 100vw;
    padding: 15px;
    display: flex;
    background: #171717;
    justify-content: space-between;
}


.left-links{
    left: 0px;
}

.right-links{
    left: auto;
    padding-right: 25px;
}

.left-links ul,
.right-links ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    
}

.left-links ul,
.left-links ul li a,
.right-links ul,
.right-links ul li a{
    background: #171717;

}
.left-links ul li a,
.right-links ul li a{
    text-decoration: none;
    
}
