*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #0f0f0f;
    color: white;
}


form{
    display: flex;
    justify-content: center;     /*horizontal*/
    align-items: center;        /* vertical*/
    height: 100vh;
    margin: 0;
}

.search-box{
    position: relative;
    display: flex;
    width: 300px;
    align-items: center; /*top-down-center*/
}


input{
    flex: 1;
    padding: 12px;
    padding-left: 42px;
    color: white;    
    background-color: #121212;
    border: 1px solid #303030;
    outline: none;    
    border-radius: 20px 0 0 20px;
}

.fa-magnifying-glass{
    position: absolute;
    left: 14px;
    
    top: 50%;
    transform: translateY(-50%);

    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    z-index: 100;
}

.searchbutton{
    padding: 12px 16px;
    color: white;
    background-color: #303030;
    border: 1px solid #303030;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.searchbutton:hover{
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
}
